<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaUI|ImageUI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="images.css">
</head>
<body>
    <h2>Layouts Of Responsive Image and Round Image Components</h2>
    <div class="images-container">
        <div>
            <img class="responsive-image" src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821_960_720.jpg" alt="responsive-image">
        </div>
            <img class="round-image" src="ApnaUi.png" alt="round-image">
        </div>
</body>
</html>