<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaUI|Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="navigation.css">
</head>

<body>
    <header class="header">
        <h1>ApnaStore</h1>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-link"> <a class="" href="#">Home</a>
                </li>
                <li class="nav-link"> <a class="" href="#">Shop</p></a>
                </li>
            </ul>
            <ul class="user-nav-link">
                <i class="searchbar fa-solid fa-magnifying-glass"></i> <input type="search"
                    placeholder="search a product">
                <li class="nav-link"><a href="https://www.github.com/anshtripathi01" target="_blank"><i
                            class="nav-icon fa-solid fa-user"></i></a></li>
                <li class="nav-link"><a href=""><i class="nav-icon fa-solid fa-heart"></i></a></li>

                <li class="nav-link"><a href=""><i class="nav-icon fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

</body>

</html>