@import url("/components/Avtar/avtar.css");

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.badges-container{
    display: flex;
   justify-content: flex-start;
   align-items: center;
   box-shadow: 0px 1px 3px 0px rgba(0, 0 ,0,0.1);
   width: 100vh;
    height: 12.5rem;
}
.avtar{
    margin: 1.25rem;
}
.badges {
    width:1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: green;
    margin: 0 0 -2rem 6.5rem;
    position: absolute;
}

.badges-awaiting{
    background-color:orange;
    
    margin: 0px 0px -2.18rem 13rem;
    position: absolute;
}
.offline-badges{
    background-color:red;
    
    margin: 0 0 -1.87rem 19rem;
    position: absolute;
}
.new-badges{
    width: 1rem;
    height: 1rem;
    background-color: blue;
    margin: 0px 0px -1.25rem 23.75rem;
    position: absolute;
}
.shopping-cart{
    color: tomato;
    font-size: 2rem;
}
.cart-badges{
    box-shadow: 0px 1px 1px 0px rgba(0, 0 ,0,0.1);

    width: 1rem;
    height: 1rem;
    background-color:red;
    margin: -2.18rem 0 0 27.5rem;
    position: absolute;
    color: #fff;
    font-size: 1rem;
    padding: 0px 0px 4px 6px;
    z-index: 1;

}


.home-icon{
    margin-left: 1.56rem;
    font-size: 2rem;
    color:tomato;
}
.home-badges{
    box-shadow: 0px 1px 1px 0px rgba(0, 0 ,0,0.1);

    width: 1rem;
    height: 1rem;
    background-color:red;
    margin: -1.56rem 0px 0px 31.25rem;
    position: absolute;
    color: #fff;
    font-size: 1rem;
    padding: 0px 0px 4px 6px;
    z-index: 1;
}