.grid-container{
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.3);
    width: 35rem;
    height: 22rem;
    margin: 2rem;
    padding: 1rem;
}
.grid {
    display: grid;
    width: 30rem;
    height: 5rem;
    align-items: center;
    gap: 1rem;
    border: 2px solid rgba(0,0,0,0.3);
    padding: 0.8rem;
    margin: 1rem;
  }
  
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-item {
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
  }