<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content= "Ansh Tripathi">
    <meta name = "grid" description = "Grid-components">
    <link rel="stylesheet" href="./grid.css">
    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">
    <title>ApnaUI|Grid</title>
</head>
<body>
   <h2>Grids</h2>
   <p>Using Grid you can divide complex layout in smaller chunks to use grids components you can use below css classes</p>
    <div class="grid-container">
        <h4>Grid with 2 items</h4>
        <div class="grid grid-2">
            <div class="grid-item">Item-1</div>
            <div class="grid-item">Item-2</div>
            </div>
            <h4>Grid with 3 items</h4>
            <div class="grid grid-3">
                <div class="grid-item">Item-1</div>
                <div class="grid-item">Item-2</div>
                <div class="grid-item">Item-2</div>
        </div>
        </div>
        
</body>
</html>