<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ansh Tripathi">
    <meta name="grid" description="Grid-components">
    <link rel="stylesheet" href="./model.css">
    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">

    <title>ApnaUI|Model</title>
</head>

<body>
    <div class="modal">
        <h2 class="modal-heading">Modal Header</h2>
        <p class="modal-content">
            Modal component is used to add dialogs and user notifications
            to your site.
        </p>
        <div class="modal-btn">
            <button class="btn btn-solid-primary modal-btn">YES</button>
            <button class="btn btn-outline-primary modal-btn">NO</button>
        </div>
    </div>

</body>

</html>