<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apna-UI|Avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>
<body>
  <h1> Different Types Of Avtar</h1>
    <div class="avtar_container">
        <div class="avtar">
<img class="img-round" src="https://i.pravatar.cc/100" alt="">
        </div>
        <div class="avtar avtar-md">
<img class="img-round" src="https://i.pravatar.cc/70" alt="md-avtar">
        </div>
        <div class="avtar avtar-sm">
          <img class="img-round" src="https://i.pravatar.cc/50" alt="">  
        </div>
        <div class="avtar avtar-xs">
          <img class="img-round" src="https://i.pravatar.cc/35" alt="">  
        </div>
    </div>
   
</body>
</html>