<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaUI|FormUI</title>
    <link rel="stylesheet" href="form.css">
</head>

<body>
    <form class="form" action="">
        <h2 class="form-heading">Sign Up</h2>
        <label class="form-label" for="Name">Full Name</label>
        <input class="form-input" type="text" placeholder="John Doe" autofocus>
        <label class="form-label" for="Email">Email</label>
        <input class="form-input" type="email" placeholder="example@email.com">
        <label class="form-label" for="password">Create Password</label>
        <input class="form-input" type="password">
        <span class="form-checkbox">
            <input type="checkbox">
            <label for="checkbox">I agree with terms</label>
        </span>
        <span class="form-btn">
            <a class="btn btn-solid-primary" href="">Sign Up</a>
            <a class="btn btn-outline-primary" href="#">Cancel</a>
        </span>
    </form>
</body>

</html>