<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaUI|FormUI</title>
    <link rel="stylesheet" href="form.css">
</head>

<body>
    
    </div>
    <form class="form" action="">
        <h2 class="form-heading">Form</h2>
        <label class="form-label" for="Name">Full Name</label>
        <input class="form-input" type="text" placeholder="John Doe" autofocus>
        <p class="error-msg">This field is required</p>

        <label class="form-label" for="Email">Email</label>
        <input class="form-input" type="email" placeholder="example@email.com">
        <p class="error-msg">This field is required</p>

        <label class="form-label" for="Message">Type your Message</label>
        <textarea class="form-input" type="text" placeholder="Message"></textarea> 
        <p class="error-msg">This field is required</p>
        <span class="form-checkbox">
            <input type="checkbox">
            <label for="checkbox">I agree with terms</label>
        </span>
        <span class="form-btn">
            <a class="btn btn-solid-primary" href="">Submit</a>
        </span>
    </form>
</body>

</html>