@import url("/layout.css");
@import url("/components/Button/button.css");

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 56rem;
    height: 55rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
}

.card {

    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin-top: 7px;
    width: 11.25rem;
    height: 15.625rem;
    display: flex;
    justify-content: center;
    margin-left: 6.5rem;
    overflow: hidden;
    border-radius: 5px;

}

.card-button {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 7px;
    border: none;
    background-color: var(--primary-color);
    transition: 0.3s;
}

.btn {
    padding: 0.3rem;
    margin: 0.7rem;
    float: left;
}

.like-btn {
    margin: 0 10.3rem;
    position: absolute;
    font-size: 1.2rem;


}

.times-btn {
    margin: 0 11rem;
    position: absolute;
    font-size: 1.2rem;

}

.like-btn:hover {
    color: var(--primary-color);
}

.card-button:hover {
    background-color: black;
}

.card img {
    object-fit: cover;
    width: 13rem;
    height: 12.5rem;
}

.card-badges {
    position: absolute;
    padding: 0 1rem;
    background-color: var(--primary-color);
}

.horizontal-card-container {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem;
    width: 30rem;
    height: 15.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.horizontal-card {
    width: 13rem;
    height: 16.5rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem 0rem 0rem;
    overflow: hidden;
    border-radius: 0.1rem;
}

.text-container {
    width: 15rem;
    height: 15rem;
}

.text-only-card {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    width: 15rem;
    height: 12.5rem;
}

.text-only-card h3 {
    margin: 1rem;
}

.text-only-card p {
    margin: 0.5rem;
    line-height: 1.5;
}

.horizontal-card img {
    width: 13rem;
    height: 12.5rem;
    object-fit: cover;

}

.disabled-card {
    opacity: 0.7;
    flex-wrap: wrap;
    align-items: center;
}

.text-over-card {
    background-color: grey;
    padding: 0.5rem;
    position: absolute;
    margin: 5rem 3rem;
    color: #fff;

}