<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ansh Tripathi">
    <meta name="description" content="Lists Components">
    <link rel="stylesheet" href="./lists.css">
    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">
    <title>ApnaUI|Lists</title>
</head>
<body>
    
    <h2>Lists</h2>
<p>List groups are a flexible component to display a series of content like notifications, drawer etc.</p>

<h2>Stacked List</h2>
    <ul class="list-container">

        <li>
          <div class="list spaced-list">
            <div class="avtar">
                <img class="img-round" src="https://i.pravatar.cc/100" alt="">
              </div>
            <div>
              <h3>Heading</h3>
          <p class="list-description">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="list spaced-list">
            <div class="avtar">
                <img class="img-round" src="https://i.pravatar.cc/100" alt="">
              </div>
            <div>
                <h3>Heading</h3>
                <p class="list-description">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="list spaced-list">
            <div class="avtar">
                <img class="img-round" src="https://i.pravatar.cc/100" alt="">
              </div>
            <div>
                <h3>Heading</h3>
                <p class="list-description">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </li>
      </ul>

      <h2>Spaced List</h2>
    <ul class="list-container">

        <li>
          <div class="list stacked-list">
            <div class="avtar">
                <img class="img-round" src="https://i.pravatar.cc/100" alt="">
              </div>
            <div>
              <h3>Heading</h3>
              <p class="list-description">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="list stacked-list">
            <div class="avtar">
                <img class="img-round" src="https://i.pravatar.cc/100" alt="">
              </div>
            <div>
                <h3>Heading</h3>
                <p class="list-description">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="list stacked-list">
            <div class="avtar">
                <img class="img-round" src="https://i.pravatar.cc/100" alt="">
              </div>
            <div>
                <h3>Heading</h3>
                <p class="list-description">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
          </div>
        </li>
      </ul>
</body>
</html>