<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ansh Tripathi">
    <meta name="description" content="Snackbar components">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./snackbar.css">
    <link rel="stylesheet" href="https://apna-ui.netlify.app/Components/Style/apna-ui.css">
    <title>ApnaUI|Snackbar</title>
</head>

<body>
    <h2>Simple Snackbar</h2>
    <p>To use snackbar in your project include below css classes</p>
    <div class="snackbar">
        <div>
            <p>Sorry there was a problem with your request.</p>
        </div>
        <a href="#">RETRY</a>
        <i class="fas fa-times-circle close-btn" aria-hidden="true"></i>
    </div>
</body>

</html>