@import url("styles.css");
@import url("components/Avtar/avtar.css");
@import url("components/Alert/alert.css");
@import url("components/Button/button.css");

body{
    box-sizing: border-box;
    margin: 0;
   
}
.main{
    display: flex;
    height: 100vh;
    width: 100vh;
    position: absolute;
    flex-direction: column;
    top:105px;
    left: 420px;
    bottom: 0px;
}
.sidebar{
    display: flex;
    width: 200px;
    height: 500vh;
    background-color:  rgb(253, 242, 219);
flex-direction: column;
border: solid 1px rgb(240, 203, 123);
overflow: hidden;
}
h3{
    margin: 10px 15px 0px;
    color:grey;
}
.sidebar a{
    transition: 0.5s;
}
.sidebar li{
    list-style: none;
    margin: 30px -40px;
}


.ripple {
    background-position: center;
    transition: 0.8s;
    /* padding: 6px 50px 5px 0px; */
    border-radius: 2px;
    
  padding: 5px 145px 5px 25px;
 
  }
  .ripple:hover {
    
  
    background: #FFAB76 radial-gradient(circle, transparent 2%, #FFAB76 1%) center/15000%;
  }
  .ripple:active {
    background-color: #FFAB76;
    background-size: 100%;
    transition: 0s;
  }
  
.top{
    bottom: 15px;
    right: 20px;
    position: fixed;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: tomato;
    color: black;
    z-index: 1;
    cursor: pointer;
}
.top a{
    position: absolute;
    margin:9px 12px;
    font-weight: bolder;
    color: #fff;
}



/* avtar css */
#avtar{
   

}


/* alert css */
