@import url("/styles.css");
@import url("/layout.css");
@import url("/Components/Cards/cards.css");
@import url("/Components/Alert/alert.css");
@import url("/Components/Avatar/avatar.css");
@import url("/Components/Button/button.css");
@import url("/Components/Badges/badges.css");
@import url("/Components/Form/form.css");
@import url("/Components/Navigations/navigation.css");
@import url("/Components/Rating/rating.css");
@import url("/Components/Slider/slider.css");
@import url("/Components/Lists/lists.css");
@import url("/Components//Model/model.css");
@import url("/Components/Grid/grid.css");
@import url("/Components/Snackbar/snackbar.css");

:root{
    font-size: 1rem;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

.card {
    margin-top: 7px;
    width: 12.7rem;
    height: 15.8rem;
    margin-left: 6.5rem;
}

.like-btn {
    margin: 0rem 11.6rem;
}

#main {
     width: fit-content; 
    display: flex;
    height: 100vh;
    flex-basis: 70%;
     position: absolute; 
    flex-direction: column;
    top: 6.5rem;
    left: 20rem;
    bottom: 0;
}
.docs-description{
    margin:1rem 10rem 1rem 1rem;
}
.sidebar {
    display: flex;
    width: 200px;
    height: 100%;
    background-color: var(--navbar-color);
    flex-direction: column;
    overflow: scroll;
    margin: 0;
    padding: 0;
    margin: 0;
    position: fixed;
    top:0;
    
}


h3 {
    margin: 6rem 1rem 0;
    color: #858585;
}

.sidebar a {
    transition: 0.5s;
    margin: 1.2rem 2rem;
    cursor: pointer;
}



.top {
    bottom: 1rem;
    right: 1.3rem;
    position: fixed;
    width: 50px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: black;
    z-index: 1;
    cursor: pointer;
}

.top a {
    position: absolute;
    margin: 0.5rem 0.9rem;
    font-weight: bolder;
    color: #fff;
}


footer {
    position: absolute;
    display: flex;
    margin-top: 1220vh;
}


/* badges */
.new-badges {
    padding: 0;
}
  
.flex{
    display: flex;

}
.sidebar-sticky{
    position: sticky;
    margin-right: 1rem;
    margin-top: -6.5rem;
}
.sidebar-sticky a{
    cursor: pointer;
}
  


